@theme {
  /* COLORS */
  --color-primary: #5E56E7;
  --color-primary-light: #F8F7FF;

  --color-grey-light: #F0F0F6;
  --color-grey-medium: #A0A0A0;
  --color-grey-dark: #333333;

  /* FONT */
  --font-sans: "Montserrat", sans-serif;

  /* SHADOW */
  --shadow-card: 0 2px 5px rgba(211, 209, 238, 0.5);
}
